# Environnements virtuels
env/
venv/
.env/

# Fichiers Python
*.pyc
__pycache__/

# Base de données locale
db.sqlite3

# Fichiers de configuration
.DS_Store
*.log
*.pot
*.pyc
*.pyo
*.swp

# Répertoires créés par certains éditeurs de texte/IDE
.idea/
.vscode/

# Fichiers générés par le système
Thumbs.db
.DS_Store

