{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="section nav-cv">
      <div class="cv-title">
        <h1>CURRICUM VITAE</h1>
      </div>
      <div class="row-cv">
        <div class="col cv1">
          <h1>Experiences</h1>
        </div>
        <div class="col cv2">
            <h1><a href="facture_kkiapay.pdf" download="facture_kkiapay.pdf" >Télécharger CV</a></h1>
        </div>
      </div>
      <div class="container cv">
        <h1>competence</h1>
        <div class="cv-lists">

        </div>
      </div>
    </section>

{% endblock %}