{% extends 'base.html' %}
{% block content %}

     <!-- Main Content Area -->
    <div id="section2">
    <div class="container my-5">
      <!-- Section 1 -->
        <!-- Content for Section 1 -->
      <div class="projet-title">
        <h1>My Projects</h1>
      </div>
      <br />
      <div class="container proj">
              <h1> LISTES DE PROJETS</h1>
      </div>

            {% for project in projects %}
            <div class="my-proj">
                <h3>TITLE: {{ project.title }}</h3>
                <hr class="custom-hr">
                <strong><p>DATE_START: </strong>{{ project.created_at|date:"d-m-Y" }}</p>
                <strong><p>PROGRESS: </strong>{{ project.progress }}</p>
                <strong><p>TYPE: </strong>{{ project.type }}</p>
                <strong><p>LINK: </strong>{{ project.link }}</p>
                <strong><p>DESCRIPTION: </strong><{{ project.description }}</p>
            </div>
          {% endfor %}
    </div>
    </div>
{% endblock %}